# Python cache files
__pycache__/
*.pyc

# Environment variables file
.env

# Virtual environment folder
venv/
env/

# Database files (if using SQLite)
db.sqlite3
*.sqlite3

# IDE/editor folders
.vscode/
.idea/
